<template>
    <div class="w-full md:w-4/12 bg-gray-900 p-6 mt-4 rounded-lg mx-auto">
        <form
        class="flex flex-col mt-2"
        @submit.prevent="loginUser"
        >
        <div class="mb-3">
            <input
            type="text"
            id="username"
            class="rounded-lg border-2 w-full p-4 bg-gray-100"
            placeholder="User"
            v-model="login.username"
            />
        </div>
        <div class="mb-3">
            <input
            type="password"
            id="password"
            class="rounded-lg border-2 w-full p-4 bg-gray-100"
            placeholder="Password"
            v-model="login.password"
            />
        </div>
        <p class="p-2 bg-red-400 mb-4 text-white text-sm" v-if="error">{{error}}</p>
        <!-- Sign in button -->
        <button class="bg-white text-pink-800 mb-3 py-2 rounded-lg" type="submit">
            Sign in
        </button>
    </form>
</div>
</template>

<script>
export default {
    data() {
        return {
            login: {
                password: '',
                username: '',
            },
            loading: false,
            error: '',
            success: false
        }
    },
    methods: {
        async loginUser() {
            const data = this.login
            this.loading = true
            try {
                await this.$auth.loginWith("local", {
                    data
                })
                console.log(this.$store.state.auth)
                this.loading = false
                this.$router.push('/algomond-admin')

            } catch (error) {
                this.loading = false;
                this.error = error.response.data.message
            }

        }
    }
}
</script>
