<template lang="html">
    <div class="py-2 px-4 rounded-sm bg-gray-900 min-h-screen flex flex-col">
        <nav class="py-2 px-4 rounded-sm">
            <p class="text-white text-2xl font-bold my-6">Admin Panel</p>
        </nav>
        <section class="p-4 flex flex-col bg-gray-800 flex-grow space-y-4">
            <button
            type="button"
            @click="toggleHidden"
            class="bg-pink-800 px-4 py-2 text-white text-md rounded-sm"
            :class="hidden ? '' : 'hidden'"
            >
            Add a card
            <font-awesome-icon  class="ml-2 text-xl" :icon="['fas', 'plus']"/>
        </button>

        <div class="space-y-2 md:space-y-0 md:space-x-2" :class="hidden ? 'hidden' : ''">
            <input
            type="text"
            id="name"
            class="rounded-lg border-2 p-2  bg-gray-100"
            placeholder="Enter a title for your card"
            v-model="data.name"
            />

            <button
            type="button"
            @click.prevent="createCard"
            class="bg-pink-800 px-4 py-2 text-white text-md rounded"
            >
            Save
            <font-awesome-icon  class="ml-2 text-xl" :icon="['fas', 'plus']"/>
        </button>

    </div>
    <div class="flex flex-col-reverse space-y-4 space-y-reverse">
        <AdminCard v-for="(card, i) in getCards" :card="card" :key="i"></AdminCard>
    </div>
</section>
</div>
</template>

<script>
export default {
    head() {
        return {
            link: [{
                rel: 'stylesheet',
                href: 'https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css'
            }]
        }
    },
    middleware: ['auth'],
    data() {
        return {
            data: {
                name: '',
            },
            images: [],
            transactions: [],
            active: 0,
            hidden: true,
            error: ''
        }
    },
    computed: {
        getCards() {
            return this.$store.getters['cards/cards']
        },
        isHidden() {
            return this.hidden
        }
    },
    methods: {
        toggleHidden() {
            this.hidden = !this.hidden
        },
        async createCard() {
            try {
                const res = await this.$store.dispatch('cards/createCard', {
                    name: this.data.name,
                    hp: 0,
                    ad: 0
                })
                await this.$store.dispatch('cards/getCards')
            } catch (err) {
                this.error = err.response.data.message || 'There was an error please try again later'
            }
        }
    },
    async mounted() {
        await this.$store.dispatch('cards/getCards')
    }
}
</script>

<style lang="css" scoped>
</style>
