<template lang="html">
  <section>
    <nav class="flex justify-end space-x-4">
      <button class="text-white px-4 py-2 bg-green-500 rounded" :class="!getHidden ? 'bg-green-500 hover:bg-pink-600' : 'bg-pink-600 '" @click="toogleHidden">The Cards</button>
      <button class="text-white px-4 py-2 bg-green-500 rounded" :class="getHidden ? 'bg-green-500 hover:bg-pink-600' : 'bg-pink-600 '" @click="toogleHidden">My Collection</button>
    </nav>
    <div class="min-h-screen">
      <Gallery :cards="getCards" :collection="getCollection" :hidden="getHidden" :class="canCollection ? '' : 'hidden'"></Gallery>

      <div class="bg-gray-800 p-6 flex flex-col md:w-8/12 mt-6 space-y-4 mx-auto" :class="canConnect ? '' : 'hidden'">
        <button class="px-4 py-2 bg-green-500 text-white flex items-center text-md" @click="connect">
          Connect with
          <img src="https://raw.githubusercontent.com/randlabs/myalgo-connect/11d15f4ab256fbdf22c8579f2796873c31fc21f1/brand-kit/html/assets/img/light/xl/myalgo.svg" alt="My AlgoConnect logo" class="ml-2">
        </button>
        <p class="text-white text-md">Or</p>
        <div class="flex justify-between">
          <input class="bg-pink-600 placeholder-white text-md font-bold text-white w-full px-4 py-2" v-model="address" type="text" name="" value="" placeholder="Enter an algorand wallet address">
          <button class="bg-pink-600 text-white ml-2 px-4" @click="checkAddress">
            Go
          </button>
        </div>
        <p v-if="error" class="text-red-500 text-md">{{error}}</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  auth: false,
  data(){
    return {
      hidden: true,
      address: '',
      error: ''
    }
  },
  computed:{
    canCollection() {
      if(this.hidden === false) {
        return this.$store.getters['transacs/isConnected'] ? true : false
      }
      return true
    },
    canConnect() {
      if(this.hidden === false) {
        return this.$store.getters['transacs/isConnected'] ? false : true
      }
      return false
    },
    isConnected() {
      return this.$store.getters['transacs/isConnected']
    },
    getHidden() {
      return this.hidden
    },
    getCards() {
      return this.$store.getters['cards/cards']
    },
    getCollection() {
      return this.$store.getters['transacs/getCollection']
    },
  },
  methods:{
    async connect() {
      try {
        const accounts = await this.myAlgoWallet.connect()
        const addresses = accounts.map(account => account.address);
        await this.$store.dispatch('transacs/connect', addresses[0])
      } catch (err) {
        console.log(err)
      }
    },
    async checkAddress() {
      await this.$store.dispatch('transacs/connect', this.address)
    },
    async sendTransaction () {
      let signedTxn = await this.myAlgoWallet.signTransaction(this.txn);
      console.log(signedTxn)

      await this.$axios.post('/api/transacs/save', {txn: signedTxn})
    },
    toogleHidden() {
      this.hidden = !this.hidden
      console.log(this.hidden)
    },

  },
  async mounted() {
    await this.$store.dispatch('cards/getCards')
    this.myAlgoWallet = this.$myalgo()
  }
}
</script>

<style lang="css" scoped>
</style>
