<template>
    <div class="min-h-screen flex flex-col space-y-12">
        <Carousel :cards="getCards"></Carousel>
        <Article :title="'What is Algomond'" :img="img1" :id="1">
            <p>Algomond is a trading card game made of spooky and fun monsters, where players can play against each others, similar to games like Pokemon and Yu-Gi-Oh. The twist here is that we are not printing cards, our monsters are NFTs minted on the Algorand blockchain and they have a limited supply cap.</p>
            <p>We are working on a video game where you will be able to import the Algomonds you own, and play with them in the game.</p>
            <p>When you buy into Algomond you also buy into cool art! All Algomonds cards are hand drawn and custom made by our team for the project.</p>
            <p>Algomond aims to be great at three things:</p>
            <ul class="space-y-1">
                <li>Make cards that are original and look good. (See all cards released so far)</li>
                <li>Make a game that is fun, interesting and fast paced.</li>
                <li>Make a project that holds value for buyers. This is done via the two steps above but also via the law of supply and demand thanks to NFTs and Algorand technology. [DISCLAIMER].</li>
            </ul>
        </Article>
        <Article :title="'The Tokenomics of the Cards'" :img="img2" :id="2">
            <p>
                We are fully transparent as to how many of each card are minted and how they are to be distributed; and if in doubt you can check the transactions history of the Algomond wallet, where all cards are minted. This information is available freely to anyone through <a href="https://algoexplorer.io/">algoexplorer.io</a>
            </p>
            <strong class="font-bold">Distribution case example of “ALGOMOND #1 - Umbrella Lizard”:</strong>
            <p>The common/regular version of an Algomond usually has 1000 cards minted. </p>
            <ul class="space-y-1">
                <li>The Algomond team keeps 20 of these cards, which are needed to develop the game, and for our own collection 😉.</li>
                <li>00 cards are available for direct sale and giveaway. There will be a maximum of 10 cards a user can purchase. This is because we want to include as many people as possible in the project and we want to limit whales.</li>
                <li>The rest of the cards are kept for future distribution for when there will be enough Algomond released. We want to create random packs of 5 cards which will be available for purchase. More details such as the pricing of the packs will be provided as we approach 50 Algomonds released.</li>

            </ul>
        </Article>

        <section class="md:flex md:justify-between text-white text-xl space-y-2">
            <article class="md:w-1/4">
                <h4 class="mb-8 text-green-500 text-4xl font-bold">Why NFTs?</h4>
                <p>We think the ability to transfer and exchange cards in and out of the game is something everyone will appreciate. In most video-games today, purchases done in-game do not hold value for the players outside the game. </p>
            </article>

            <article class="md:w-1/4">
                <h4 class="mb-8 text-pink-600 text-4xl font-bold">Why Algorand?</h4>
                <p>Algorand has fast, low cost transactions so we can trade cards quickly and cheaply. Algorand also commits to being a sustainable blockchain with low carbon emissions, which we strongly support and believe will be a key element in Blockchains in the near future.</p>
            </article>
            <article class="md:w-1/4">
                <h4 class="mb-8 text-green-500 text-4xl font-bold">Who are we?</h4>
                <p>We are a team of two friends, Paul and Josh. Paul is working on the cards’ design and is doing the community management, Josh is working on the programming.</p>
                <p>You can reach us via our media channels on <a :href="reddit">Reddit</a>, <a :href="twitter">Twitter</a>, and <a :href="telegram">Telegram</a> but preferably on <a :href="telegram">Telegram</a>. </p>
            </article>
        </section>

        <Article title="The Game" :id="3" :img="img5">
            <p>To play the game you must own cards, you can purchase cards through sales on reddit, twitter and telegram. The game is a work in progress being developed on the Unity game engine. It will be web-based at first, meaning it will be playable via the browser on computers and it will be integrated with the Algorand blockchain.</p>
            <p>The rules of the game are still rough, we plan to tweak them as time goes on, through user feedback and testing. As we said earlier, the game is inspired from Yu-Gi-Oh and Pokemon, and we want it to be fast-paced, fun, and interesting.</p>
            <p>Fast-paced means a game should last less than 10 minutes, fun means the rules should be straight-forward to learn for a beginner, and interesting means there should be many different strategies and game play choices players can make.</p>
            <p><em class="italic">Note: As of right now, when you purchase an Algomond, you’ll notice it has no Health/Attack/Speed/Effect indicator. This is normal, the Algomond NFT you own acts as a proof of ownership. Later on when you’ll import your cards into the game these features will show up.</em></p>
        </Article>
        <Article title="The Rules" :id="5" :img="img4">
            <p>Each monster card will have the following features:</p>
            <ul class="space-y-2">
                <li>Health</li>
                <li>Attack</li>
                <li>Speed</li>
                <li>Effect</li>
            </ul>
            <p>
                There will be a strategy phase, where you choose your monster’s actions and the monsters will fight in the attack phase, in order of speed. Each monster will have a unique special effect, to create interesting and diverse strategies.</p>
                <p>Types of spell cards will be:</p>
                <ul class="space-y-2">
                    <li>Damage cards</li>
                    <li>Healing cards</li>
                    <li>Buff/debuff cards</li>
                    <li>Many others</li>
                </ul>
                <p>
                    There is a lot of potential for different spell effects to make fun and powerful spell cards.</p>
                    <p>The plan is to have a deck size of between 10-15 cards, containing a mix of monsters and spells.</p>
                </Article>
                <Article title="Road map" :id="4" :img="img3">
                    <p class="mb-5">We are working hard to make the cards and the game available to play as fast as possible.</p>
                    <h4 class="mb-2 text-green-500 text-2xl font-bold">Cards release schedule</h4>
                    <ul class="space-y-2">
                        <li>We aim to release about 2 to 3 Algomond regulars every week until we reach 100 Algomond cards, which would be a year from now. This means we should reach M20 in August and M50 in December.</li>
                        <li>Once we reach Algomond M50, we will create random packs of 5 cards available for sale, we will do it again when we reach M75 and again when we reach M100.</li>
                        <li>Most regular cards have an equivalent ascended version, which is rarer and cooler looking than the regular.</li>
                    </ul>
                </Article>

                <section class="md:flex md:justify-around text-white text-xl space-y-2">
                    <article class="md:w-1/4">
                        <h4 class="mb-8 text-green-500 text-4xl font-bold">Game Development Plan</h4>
                        <p>Given how early we are in the development it is difficult to give an accurate release date, however we are aiming for a Beta release somewhere around September 2021. More information and updates will be given further along development. As we said earlier we are using Unity to make this game, as it gives a lot of functionality and freedom, and we are familiar with the software.</p>
                    </article>

                    <article class="md:w-1/4">
                        <h4 class="mb-8 text-pink-600 text-4xl font-bold">Milestones</h4>
                        <ul class="space-y-2">
                            <li>Initial design and development of the game. [in progress]</li>
                            <li>Develop a playable version of the game.</li>
                            <li>Create multiplayer.</li>
                            <li>Integrate a functional game onto the website.</li>
                        </ul>
                    </article>
                </section>
                <section class="full-width bg-green-500 py-16 flex flex-col text-center">
                    <h3 class="mb-8 text-white text-4xl font-bold">Questions ?</h3>
                    <p class="text-white text-xl">Join the telegram <a href="telegram">here</a> to share ideas and support the project! 😄</p>
                </section>

            </div>
            <!--
            <section class="flex mb-6">
            <article class="w-full bg-gray-800 p-6 hidden md:block">
            <h4 class="text-white text-xl">What is Algomond?</h4>
            <p class="text-white">
            Algomond is a collectible cards NFT project themed around spooky and fun monsters. The cards are fully hand drawn and custom made by the team- specially for this project. See the roadmap for further info.
        </p>
    </article>
    <div class="bg-white md:w-1/4 w-full">
    <p>video</p>
</div>
</section>
-->
</template>
<script>
import CardsService from '../services/CardsService.js'
export default {
    auth: false,
    data () {
        return {
            img1: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629893155/cards/ne86pfwdciez7nmyqgpn.jpg',
            img2: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629911820/cards/iqtqd99771spoik9nbxj.jpg',
            img3: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629911588/cards/d1vi9qmgpyp8vsoewpyg.jpg',
            img4: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629911621/cards/gf9vla32ezbe4wlqumsu.jpg',
            img5: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629914408/cards/mapljupgm2gc7bvtwkv9.jpg',
            twitter: '',
            telegram: '',
            reddit: '',

        }
    },
    computed: {
        getCards() {
            return this.$store.getters['cards/cards']
        }
    },
    async mounted() {
        await this.$store.dispatch('cards/getCards')
    }
}
</script>

<style>
img {
    width: 350px;
}
a {
    color: #d82675;
}
a:hover {
    color: #10b981;
}
ul {
    padding-left: 1rem;
    list-style-type: square;
}
</style>
