<template lang="html">
  <div class="flex justify-center items-center w-full">
    <Loading :class="isLoading ? '' : 'hidden'"></Loading>
    <div class="bg-gray-900 p-8 w-10/12 flex flex-col items-center space-y-8" :class="isLoading ? 'hidden' : ''">
      <p class="text-white">Asset n°<span class="text-green-500">{{this.assetId}}</span></p>
      <img :src="getUrl" alt="" width="200">
      <div class="flex justify-between w-full">
        <p class="text-white">Amount left: {{getAmount}}</p>
        <button @click.prevent="optIn" class="bg-green-600 px-4 py-2 text-white hover:bg-pink-500 flex">Buy this asset for {{getPrice}}
          <img src="https://www.randgallery.com/wp-content/themes/rand/images/algorand-white.svg" class="w-6 ml-2" alt="Algorand logo">
        </button>
      </div>
      <p class="text-red-500">{{err}}</p>
    </div>
  </div>

</template>

<script>
export default {
  async asyncData({ params }) {
    const assetId = params.assetId
    return { assetId }
  },
  middleware({ store, redirect }) {
    // If the user is not authenticated
    if (!store.getters['transacs/isConnected']) {
      return redirect('/gallery')
    }
  },
  data() {
    return {
      asset: {
        url: '',
        price: 0,
      },
      amount: 0,
      address: '',
      params: {},
      loading:true,
      err: ''
    }
  },
  computed: {
    isLoading() {
      console.log(this.loading)
      return this.loading
    },
    getUrl() {
      return this.asset.url
    },
    getPrice() {
      return this.asset.price
    },
    getAmount() {
      return this.amount
    }
  },
  methods: {
    async optIn() {
      const txn1 = this.$algosdk.makePaymentTxnWithSuggestedParamsFromObject({
        suggestedParams: {
          ...this.params,
        },
        from: this.address,
        to: this.contract.address,
        amount: this.$algosdk.algosToMicroalgos(this.asset.price)
      });

      const txn2 = this.$algosdk.makeAssetTransferTxnWithSuggestedParamsFromObject({
        suggestedParams: {
          ...this.params,
        },
        from: this.address,
        to: this.address,
        assetIndex: this.contract.asset_id,
        amount: 0
      });

      const txnsToGroup = [ txn1, txn2 ];
      const groupID = this.$algosdk.computeGroupID(txnsToGroup)
      for (let i = 0; i < 2; i++) txnsToGroup[i].group = groupID;


      try {
        const myAlgoConnect = this.$myalgo()
        const txnstoSign = txnsToGroup.map(txn => txn.toByte())
        const signedTxns = await myAlgoConnect.signTransaction(txnstoSign);
        console.log(signedTxns)
        const txns = signedTxns.map(txn =>  btoa(String.fromCharCode.apply(null, txn.blob)))
        const res = await this.$axios.post('/api/transactions/save/'+this.contract.address, {
          txns
        })
        this.$router.push('/gallery')
      }catch(err) {
        this.err = 'There was an error, please, try again later'
        console.log(err)
      }
    }
  },
  async mounted() {
    if(!this.assetId || !this.$store.getters['transacs/isConnected']) {
      this.$router.push('/')
    }
    if(this.$store.getters['transacs/isConnected'] && this.assetId) {
      const address = this.$store.getters['transacs/getAddress']
      this.address = address
      try {
        const res = await this.$axios.post('/api/transactions/buy/'+this.assetId, {
          address: address
        })
        const asset = await this.$store.dispatch('transacs/getAsset', res.data.asset_id)
        this.asset = {
          url: asset.data.image.url,
          price: asset.data.price
        }
        console.log(res.data.params)
        const amount = await this.$axios.get('api/assets/amount/'+res.data.asset_id)
        this.amount = amount.data.amount
        this.contract = {
          address: res.data.address,
          asset_id: res.data.asset_id
        }

        const algodClient = new this.$algosdk.Algodv2("",'https://api.testnet.algoexplorer.io', '');
        this.params = await algodClient.getTransactionParams().do();
      }catch (err) {
        console.log(err)
        //this.$router.push('/')
      }
    }
      this.loading = false
  }
}
</script>

<style lang="css" scoped>

</style>
