<template>
    <div>
        <Particles
        id="tsparticles"
        :options= "config"
        />
        <Header></Header>
        <main class="w-11/12 xl:w-8/12 mx-auto mb-10">
            <Nuxt />
        </main>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
export default {
    components: {
        Header,
        Footer
    },
    data(){
        return {
            config: {
                background: {
                    color: {
                        value: "#000000"
                    }
                },
                interactivity: {
                    detectsOn: "canvas",
                    modes: {
                        bubble: {
                            distance: 250,
                            duration: 2,
                            opacity: 0,
                            size: 0
                        },
                        grab: {
                            distance: 400
                        },
                        repulse: {
                            distance: 400
                        }
                    }
                },
                particles: {
                    color: {
                        value: '#40E983'
                    },
                    links: {
                        color: '#ffffff',
                        distance: 150,
                        opacity: 0.4
                    },
                    move: {
                        attract: {
                            rotate: {
                                x: 600,
                                y: 600
                            }
                        },
                        enable: true,
                        outModes: {
                            bottom: 'out',
                            left: 'out',
                            right: 'out',
                            top: 'out'
                        },
                        random: true,
                        speed: 1
                    },
                    number: {
                        density: {
                            enable: true
                        },
                        value: 160
                    },
                    opacity: {
                        random: {
                            enable: true
                        },
                        value: {
                            min: 0,
                            max: 1
                        },
                        animation: {
                            enable: true,
                            speed: 1
                        }
                    },
                    size: {
                        random: {
                            enable: true
                        },
                        value: {
                            min: 1,
                            max: 3
                        },
                        animation: {
                            speed: 4,
                            minimumValue: 0.3
                        }
                    }
                }
            //end Config
            }
            // end Data
        }
// end Export and Component
    }
}
</script>

<style lang="css">
body {
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
}
#tsparticles {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
</style>
