<template lang="html">
    <div class="bg-gray-600 md:flex p-4 rounded-lg text-white text-lg">
        <div class="md:flex md:flex-col space-y-4" >
            <div v-if="card.assets.length > 0"  class="w-full justify-end space-x-1">
                <button v-for="(asset, i) in card.assets" class="rounded-full border-2  border-green-500 p-2 hover:bg-pink-500 hover:border-transparent" :class="currentAsset === i ? 'bg-green-500' : ''" @click="setAsset(i)"></button>
            </div>
            <div v-else class="w-full justify-end space-x-1">
                <button class="rounded-full border-2  border-green-500 p-2 hover:bg-pink-500 hover:border-transparent bg-green-500"></button>
            </div>
            <div v-if="card.assets.length > 0">
                <img  v-for="(asset, i) in card.assets" :key="i" :src="asset.url" :alt="'asset n°'+asset.id" :class="currentAsset === i ? '' : 'hidden'" :width="200">
            </div>
            <img v-else :src="placeholder" :alt="Placeholder" :width="200" >
        </div>
        <div class="flex-grow flex flex-col justify-between px-4 pt-8">
            <div>
                <p class="font-bold">Name: {{card.name}}</p>
                <div class="p-4" v-if="card.assets.length > 0">
                        <EditAsset v-for="(asset, i) in card.assets" :asset="asset" :class="currentAsset === i ? '' : 'hidden'"></EditAsset>
                </div>
                <p v-else>There is no assets linked to this card</p>
            </div>
        </div>
        <div class="flex flex-col justify-between">
            <div class="space-x-4 flex justify-end">
                <button @click.prevent="toogleEdit">
                    <font-awesome-icon  class="text-green-500" :icon="['fas', 'pen']"/>
                </button>
                <div class="relative">
                    <button @click.prevent="showWarning">
                        <font-awesome-icon  class="text-red-500" :icon="['fas', 'trash']"/>
                    </button>
                    <div class="p-6 bg-gray-900 mt-10 top-0 right-0" :class="warning ? 'absolute' : 'hidden'">
                        Are you sure you want to delete this card ?
                        <div class="flex space-x-8">
                            <button class="px-4 py-2 bg-green-500 text-white" @click="deleteCard(card.id)">Yes</button>
                            <button class="px-4 py-2 bg-red-500 text-white" @click="showWarning">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right space-y-2">
                <p v-if="error" class="text-red-500">{{error}}</p>
                <LinkAsset :card="card"></LinkAsset>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        card: Object
    },
    data () {
        return {
            placeholder: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629530927/cards/xhrm9ir9wjejtz242tbo.jpg',
            current_asset: 0,
            edit: false,
            warning: false,
            error: ''
        }
    },
    computed: {
        currentAsset() {
            return this.current_asset
        },
    getCurrentAsset() {
      return this.card.assets.length > 0 ? this.card.assets[this.current_asset] : null
    },
    },
    methods: {
        setAsset(id) {
            console.log(id)
            this.current_asset = id
        },
        showWarning() {
            this.warning = !this.warning
        },
        async deleteCard(id) {
            try {
                await this.$axios.get('api/cards/delete/'+id)
            }catch (err) {
                this.error = err.response ? err.response.data.message : 'There was an error please try again later'
            }
            this.showWarning()
        },
        toogleEdit() {
            this.edit = !this.edit
        }
    }
}
</script>

<style lang="css" scoped>
</style>
