<template>
    <section>
        <aside :class=" id % 2 === 0 ? 'md:float-left' : 'md:float-right'" v-if="img" class="p-6">
            <img :src="img" :alt="img">
        </aside>
        <article class="min-w-8/12 mx-auto flex-col flex items-start space-y-8 text-xl text-white">
            <h4 class="text-4xl font-bold" :class="id % 2 === 0 ? 'text-pink-600' : 'text-green-500'">{{title}}</h4>
            <div class="pl-4">
            <slot></slot>
            </div>
        </article>
    </section>
</template>

<script>
export default {
    props: {
        title: String,
        id: Number,
        img: String
    }
}
</script>

<style>
</style>
