<template lang="html">
  <figure class="flex flex-col card items-center relative p-4" v-if="card" @click="setAsset">
    <h4 class="text-center text-white absolute z-20 xl:text-xl lg:text-md capitalize font-bold mt-1">{{card.name}}</h4>
    <div v-if="card.assets.length > 0" class="w-full">
      <img  v-for="(asset, i) in card.assets" :key="i" :src="getSrc(asset)" class="rounded-lg card w-full" :width="width + 'px'" :alt="'asset n°'+asset.id" :class="currentAsset === i ? getColor(asset) : 'hidden'" >
    </div>
    <div v-else class="flex-1">
      <img :src="placeholder" alt="Placeholder" class="w-full card shadow rounded-lg" :width="width + 'px'">
    </div>
    <figcaption class="p-4 absolute bottom-0 w-full flex items-baseline justify-between" v-if="!hideDetails">
      <p  v-if="getCurrentAsset && getCurrentAsset.amount > 0" class="flex text-white font-bold bg-green-500 rounded-full py-1 px-2 m-2">{{getCurrentAsset.price}}
        <img v-if="getCurrentAsset" src="https://www.randgallery.com/wp-content/themes/rand/images/algorand-white.svg" class="w-4 ml-2" alt="Algorand logo">
      </p>
    </div>
    <button class="px-2 mr-4 py-0.5 bg-blue-500 rounded text-white" @click="buy(asset.id)" v-for="(asset, i) in card.assets" :key="i" :class="currentAsset === i && showBuy(asset) ? '' : 'hidden'">Buy</button>
  </figcaption>
</figure>
</template>

<script>
export default {
  props: {
    card: Object,
    width: Number,
    collection: Array,
    hideDetails: false
  },
  data () {
    return {
      url: '',
      assets: [],
      current_asset: 0,
      placeholder: 'https://res.cloudinary.com/hf2a1mmce/image/upload/v1629530927/cards/xhrm9ir9wjejtz242tbo.jpg',
      color: ''
    }
  },
  computed: {
    currentAsset() {
      return this.current_asset
    },
    getCurrentAsset() {
      return this.card.assets.length > 0 ? this.card.assets[this.current_asset] : null
    },
  },
  methods: {
    getColor(asset) {
      switch (asset.rarity) {
        case 0:
        return 'shadow'
        case 1:
        return 'shadow-gold'
        case 2:
        return 'shadow-pink'
      }
    },
    showBuy(asset) {
      if(!this.collection) {
        return false
      } else if(this.collection) {
        console.log()
        return this.collection.indexOf(asset.id) > 0 || asset.amount <= 0 ? false : true
      }
    },
    getSrc(asset) {
      const url = asset.url ? asset.url : this.placeholder
      if(!this.collection) {
        return url
      } else if(this.collection.length === 0) {
        return this.placeholder
      } else if(this.collection) {
        const res = this.collection.indexOf(asset.id) > 0 ? url : this.placeholder
        return res
      }
      return url
    },
    onImgLoad() {
      this.isLoaded = true
    },
    ucFirstString() {
      return this.description ? this.description[0].toUpperCase() + this.description.slice(1) : ''
    },
    setAsset() {
      console.log(this.current_asset)
      this.current_asset = this.current_asset > this.assets.length - 1 ? 0 : this.current_asset+1
    },
    buy(id) {
      this.$router.push('/buy/'+id)
    }
  }
}
</script>


<style media="screen">
.shadow {
  filter: drop-shadow(1px 1px 4px #10b981) drop-shadow(-1px -1px 4px #10b981);
}
.shadow-pink {
  filter: drop-shadow(1px 1px 4px #db2777) drop-shadow(-1px -1px 4px #db2777);
}
.shadow-gold {
  filter: drop-shadow(1px 1px 4px #ffd700) drop-shadow(-1px -1px 4px #ffd700);
}
.shadow-red {
  filter: drop-shadow(1px 1px 4px #10b981) drop-shadow(-1px -1px 4px #10b981);
}
.card {
  max-width: 500px;
  min-width: 100px;
}
</style>
