<template lang="html">
  <div class="overflow-x-scroll flex flex-nowrap scroll-none overflow-y-hidden full-width box-border carousel">
    <div class="mover-1 flex items-center justify-start flex-no-wrap space-x-20 md:space-x-44 mr-2" :style="{'animation-duration': getDuration + 's', 'animation-delay': getDelay + 's'}">
      <Card v-for="(card, i) in cards" :card="card" :key="i" :width="450" class="flex-none" hideDetails="true"></Card>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cards: []
  },
  data() {
    return {
      duration: Math.floor(15 * this.cards.length),
      delay: Math.floor(2 * this.cards.length)
    }
  },
  computed: {
    getDuration() {
      return this.duration
    },
    getDelay () {
      return -this.delay
    }
  }
}
</script>

<style>
html {
  overflow-x: hidden;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.mover-1 {
  animation-name: moveSlideshow;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes moveSlideshow {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-160%);
  }
}
</style>
