<template lang="html">
  <div class="flex flex-col space-y-2 items-center">
    <input class="placeholder-green-500 w-full py-2 rounded-md px-4 text-green-500" type="text" v-model="data.asset_id" placeholder="Asset Id">

    <label class="w-full flex flex-col py-2 items-center bg-white rounded-md shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-green-500 hover:text-white text-green-500 ease-linear transition-all duration-150 hover:bg-pink-500">
      <font-awesome-icon :icon="['fas', 'cloud-upload-alt']"/>
      <span class="mt-2 text-base leading-normal">Select an image</span>
      <input
      type="file"
      ref="image"
      class="hidden"
      @change="onSelect"
      />
    </label>
    <select v-model="data.rarity" class="placeholder-green-500 px-4 w-full rounded-md py-2 text-green-500">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>

    <input class="placeholder-green-500 w-full py-2 px-4 text-green-500 rounded-md flex-none" type="text" v-model="data.price" placeholder="Enter a price">
    <p v-if="error" class="text-red-500">{{error}}</p>
    <button class="px-4 py-2 bg-pink-800 text-white rounded-lg" @click.prevent="editAsset">Save</button>
  </div>
</template>

<script>
export default {
  props: {
    asset: Object,
  },
  data() {
    return {
      data: {
        asset_id: this.asset.id || 0,
        image_id: 0,
        price: this.asset.price || 0,
        rarity: this.asset.rarity || 0
      },
      options: [
        { text: 'Normal', value: '0' },
        { text: 'Rare', value: '1' },
        { text: 'Legendary', value: '2' }
      ],
      error: ''
    }
  },
  methods: {
    async onSelect() {
      const formData = new FormData()
      formData.append('image', this.$refs.image.files[0])
      try {
        const result = await this.$axios.post('/api/images/upload', formData)
        const image = result.data
        this.data.image_id = image.id
        console.log(image.id)
      }catch (err) {
        this.error = err.response.data.message || 'There was an error please try again later'
      }
    },
    async editAsset() {
      try {
        await this.$axios.post('/api/assets/edit/' + this.asset.id, {
          asset_id: this.data.asset_id,
          image_id: this.data.image_id,
          rarity: this.data.rarity,
          price: this.data.price,
        })
        await this.$store.dispatch('cards/getCards')
      }catch(err) {
        this.error = err.response ? err.response.data.message : 'There was an error please try again later'
      }
    },
  }
}
</script>

<style lang="css" scoped>
</style>
