
<template lang="html">
    <footer class="mb-12">
        <p class="text-pink-500 py-2 text-sm italic text-center">Algomond 2021</p>
        <div class="text-white text-center space-y-2 mb-6">
            <p><a :href="josh">Josh West </a>(game developper)- @emploded</p>
            <p><a :href="paul">Paul Richard</a> (algomond founder / cards artist)- @majicien</p>
            <p>Webiste made by <a :href="antonin">Antonin POLY--KERNEIS</a> web developer</p>
        </div>
        <nav class="flex text-xl flex flex-col space-y-2 text-center">
            <p class="text-white text-xl">Check out our social medias 👋</p>
            <div class="space-x-4">
                <a href="telegram" class="text-2xl">
                    <font-awesome-icon :icon="['fab', 'telegram-plane']"/>
                </a>
                <a href="reddit" class="text-2xl">
                    <font-awesome-icon :icon="['fab', 'reddit-alien']"/>
                </a>
                <a href="twitter" class="text-2xl">
                    <font-awesome-icon :icon="['fab', 'twitter']"/>
                </a>
            </div>
        </nav>
    </footer>
</template>

<script>
export default {
    data() {
        return {
            antonin: '',
            paul: '',
            josh: '',
        }
    }
}
</script>

<style lang="css" scoped>
</style>
