<template lang="html">
  <div class="flex flex-wrap -mx-3 overflow-hidden sm:-mx-3 md:-mx-1 lg:-mx-2 xl:-mx-2 full-width">
    <div v-for="(card, i) in cards"  :key="i" class="my-3 px-3 w-full overflow-hidden sm:my-3 sm:px-3 sm:w-1/2 md:my-1 md:px-1 md:w-1/4 lg:my-2 lg:px-2 lg:w-1/6 xl:my-2 xl:px-2 xl:w-1/6">
      <Card :class="hidden ? 'hidden' : ''" :card="card" :width="200" :collection="getCollection"></Card>
      <Card :class="hidden ? '' : 'hidden'" :card="card" :width="200" ></Card>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    cards: Array,
    collection: Array,
    hidden: Boolean,
  },
  computed: {
    getCollection() {
      return this.collection
    }
  }
}
</script>

<style lang="css" scoped>
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
body {
  scrollbar-color: green black;
}
/* width */
body::-webkit-scrollbar {
  height: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}


/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: lightgreen;
}
</style>
