<template lang="html">
    <header class="flex flex-wrap justify-between w-11/12 mx-auto mt-6 items-center xl:w-8/12  mb-8">
        <nuxt-link to="/">
            <h1 class="text-white lg:text-6xl text-5xl">ALGO <span class="flex">MOND</span></h1>
        </nuxt-link>
        <button @click="toggle" class="md:hidden w-14 h-14 relative focus:outline-none bg-pink-600 rounded mr-3" :class="open ? 'bg-opacity-90' : ''">
            <div class="block w-5 absolute left-6 top-1/2 transform -translate-x-1/2 -translate-y-1/2"> <span class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span> <span class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span> <span class="block absolute h-0.5 w-7 text-white bg-current transform transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span> </div>
        </button>
        <nav class="md:flex flex-col md:flex-row md:w-auto w-full space-y-4 md:space-y-0 mt-4 md:mt-0" :class="open ? 'flex' : 'hidden'">
            <nuxt-link to="/gallery" class="text-white p-6 bg-green-500 rounded font-bold text-xl hover:bg-pink-600 hover:text-white">
                The gallery
            </nuxt-link>

            <div class="space-x-4 flex bg-pink-600 text-white p-6 rounded md:ml-4 hover:bg-green-500 cursor-pointer">
                <p class="font-bold text-xl">Join us on</p>
                <a href="telegram" class="text-2xl">
                    <font-awesome-icon class="text-white hover:text-pink-500" :icon="['fab', 'telegram-plane']"/>
                </a>
                <a href="reddit" class="text-2xl">
                    <font-awesome-icon class="text-white hover:text-pink-500" :icon="['fab', 'reddit-alien']"/>
                </a>
                <a href="twitter" class="text-2xl">
                    <font-awesome-icon class="text-white hover:text-pink-500" :icon="['fab', 'twitter']"/>
                </a>
            </div>

        </nav>
    </header>
</template>
<script>
export default {
    data() {
        return {
            open: false,
        }
    },
    methods: {
        toggle() {
            console.log(this.open)
            this.open = !this.open
        }
    }
}
</script>


<style lang="css" scoped>
</style>
