<template lang="html">
    <div class="relative">
        <button class=" py-2 px-4 relative" :class="asset_form ? 'text-gray-900 bg-green-500 rounded-lg' : 'bg-gray-900 text-green-500'"  @click.prevent="toggleForm">
            Link an asset
        </button>

        <div :class="asset_form ? 'hidden' : 'absolute'" class="p-6 bg-gray-900 mt-10 bottom-10 -right-10 md: md:bottom-0 md:right-32">
            <input class="px-4 py-2 placeholder-green-500 text-green-500 rounded-lg mb-3" type="text" v-model="data.asset_id" placeholder="Asset Id">

            <label class="w-64 flex flex-col mb-3 w-full items-center px-4 py-6 bg-white rounded-md shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-green-500 hover:text-white text-green-500 ease-linear transition-all duration-150">
                <font-awesome-icon :icon="['fas', 'cloud-upload-alt']"/>
                <span class="mt-2 text-base leading-normal">Select an image</span>
                <input
                type="file"
                ref="image"
                class="hidden"
                @change="onSelect"
                />
            </label>
            <select v-model="data.rarity" class="px-4 py-2 placeholder-green-500 text-green-500 w-full rounded-lg mb-3">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>

            <input class="px-4 py-2 placeholder-green-500 text-green-500 rounded-lg mb-3" type="text" v-model="data.price" placeholder="Enter a price">
            <p v-if="error" class="text-red-500">{{error}}</p>
            <button class="bg-pink-800 text-white py-2 w-full align-left rounded-lg" @click.prevent="onSubmit">Save</button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        card: Object
    },
    data () {
        return {
            data: {
                asset_id: 0,
                image_id: 0,
                price: 0,
                rarity: 0
            },
            options: [
                { text: 'Normal', value: '0' },
                { text: 'Rare', value: '1' },
                { text: 'Legendary', value: '2' }
            ],
            asset_form: true,
            error: ''
        }
    },
    methods: {
        async onSubmit() {
            try {
                await this.$axios.post('/api/assets/link/' + this.card.id, {
                    asset_id: this.data.asset_id,
                    image_id: this.data.image_id,
                    rarity: this.data.rarity,
                    price: this.data.price,
                })
        await this.$store.dispatch('cards/getCards')
            }catch(err) {
                this.error = err.response.data.message || 'There was an error please try again later'
            }
        },
        async onSelect() {
            const formData = new FormData()
            formData.append('image', this.$refs.image.files[0])
            try {
                const result = await this.$axios.post('/api/images/upload', formData)
                const image = result.data
                this.data.image_id = image.id
            }catch (err) {
                this.error = err.response.data.message || 'There was an error please try again later'
            }
        },
        toggleForm() {
            this.asset_form = !this.asset_form
        }
    }
}
</script>

<style lang="css" scoped>
</style>
